.days-container {
  display: flex;
  flex-direction: row;
}

.days-list {
  display: flex;
  flex-direction: column;
  width: 225px;
}

.details__day {
  width: 400px;
  height: fit-content;
  transition: all .3s ease-in-out;
  padding-left: 1.5rem;
  overflow: auto;
  max-height: 300px;
}

.details__empty {
  width: 0;
  height: 0;
  transition: all .3s ease-in-out;
}

.days-list span {
  margin: 0 auto;
  cursor: pointer;
}

.font__bold {
  font-weight: bolder;
  font-family: "Microsoft YaHei UI";
}

.sleep_length{
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5rem;
}

.training-unit__data {
  display: flex;
  border-bottom: 2px solid lightgray;
}

.exercise-training__data {
  display: flex;
  flex-direction: column;
  padding-bottom: .5rem;
}

.buttons__container {
  margin-top: auto;
  display: flex;
}

button {
  width: 50%;
  margin: .1rem;
}

.date-adding__on {
  margin-top: 1rem;
  overflow: hidden;
  height: 60px;
  transition: height .3s ease-in-out;
}

.date-adding__off {
  margin-top: 1rem;
  height: 0;
  transition: height .3s ease-in-out;
}

.vert__line {
  height: 1px;
  background: #2196F3;
  margin: .5rem 0;
}

.adding__container {
  display: flex;
  margin-top: 5px;
}

.adding__container button {
  margin-left: 5px;
}

.collapse__container button {
  height: calc(100% - 1.5rem);
  width: 1rem;
  background: lightgray;
  border: none;
}

::ng-deep .collapse__container button span {
  margin-left: -.35rem;
}

.days {
  max-height: 300px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.date-editing__on {
  display: flex;
  padding-top: 1rem;
  border-top: 1px solid lightgray;
  height: 200px;
  width: 100%;
  transition: height .3s ease-in-out;
}

.date-editing__off {
  height: 0;
  transition: height .3s ease-in-out;
}

.edit-buttons__container {
  width: 225px;
  display: flex;
  flex-direction: column;
}

.edit-buttons__container button {
  width: 100%;
}

.add__form {
  padding-left: 1.5rem;
}

.add__form .p-col {
  margin: .3rem 0;
}

.add__form label {
  display: inline-block;
  width: 120px;
}

.exercise-training__cbx {
  margin: auto .5rem auto 0;
  width: 1rem;
}

.training-data__flex {
  display: flex;
  flex-direction: column;
}

.exercise-training__list {
  display: flex;
  flex-direction: column;
}

.submit-green-button {
  width: 10vw;
}

.week-summary-container {
  position: relative;
  width: 0;
  transition: width .5s ease-in-out;
}

.week-summary {
  margin: 0 1rem;
  width: 300px;
  transition: width .5s ease-in-out;
}

.week-summary-exercises {
  display: flex;
  flex-direction: column;
}

.week-title {
  text-align: center;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: limegreen;
}

.spinner-container {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.spinner {
  top: 50%;
  position: absolute;
  left: 50%;
  transform: translateY(-75%) translateX(-50%);
}
