.days-container {
  display: flex;
  flex-direction: row;
}

.days-list {
  display: flex;
  flex-direction: column;
}

.details__day {
  width: 400px;
  height: fit-content;
  transition: all .3s ease-in-out;
  padding-left: 1.5rem;
}

.details__empty {
  width: 100px;
  height: 50px;
  transition: all .3s ease-in-out;
}

.days-list span {
  cursor: pointer;
}

.font__bold {
  font-weight: bolder;
  font-family: "Microsoft YaHei UI";
}

.training-unit__data {
  display: inline-block;
}

.exercise-training__data {
  display: flex;
  flex-direction: column;
  padding-bottom: .5rem;
  border-bottom: 1px solid lightgray;
}
