.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: transparent url("src/assets/BackgroundGrayLight-min.jpg");
  width: 100vw;
  position: relative;
}

::ng-deep p-button button {
  text-transform: uppercase;
  width: 100%;
}

.container__content {
  margin: auto auto 1rem auto;
  width: 30%;
  height: fit-content;
  background: transparent url("src/assets/BackgroundWhite-min.jpg");
  border: 1px solid #222831;
  border-radius: 5px;
}

.info__content {
  margin: 0 auto auto auto;
  color: white;
  text-shadow: 0px 0px 2px #222831;
}

.p-field {
  margin: 2rem;
  position: relative;
}

label {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: .8rem;
  padding: .5rem .05rem;
  transition: all .2s ease-in-out;
}

input:focus + label, input.p-filled + label {
  bottom: 1.5rem;
  font-size: .75rem;
  margin-left: 1.3rem;
  padding: 0px 5px 8px 5px;
  font-weight: bold;
  transition: all .2s ease-in-out;
  background: white;
  border-radius: 5px;
  color: #222831;
}

input {
  width: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #2196F3;
  font-weight: bolder;
}

