<div class="container">
  <div class="container__content">
    <form [formGroup]="registerForm" (submit)="register(registerForm.value)">
      <div class="card-body">
        <div class="p-field p-grid">
          <div class="p-col">
            <input type="text" formControlName="Name" id="Name" class="form-control"/>
            <label for="Name">First Name</label>
          </div>
        </div>
        <div class="p-field p-grid">
          <div class="p-col">
            <label for="Surname">Surname</label>
            <input type="text" formControlName="Surname" id="Surname" class="form-control"/>
          </div>
        </div>
        <div class="p-field p-grid">
          <div class="p-col">
            <label for="City">City</label>
            <input type="text" formControlName="City" id="City" class="form-control"/>
          </div>
        </div>
        <div class="p-field p-grid">
          <div class="p-col">
            <label for="userName">Username</label>
            <input type="text" formControlName="userName" id="userName" class="form-control"/>
          </div>
        </div>
        <div class="p-field p-grid">
          <div class="p-col">
            <label for="password">Password</label>
            <input type="password" formControlName="password" id="password" class="form-control"/>
          </div>
        </div>
        <div class="p-field p-grid">
          <div class="p-col">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" formControlName="confirmPassword" id="confirmPassword" class="form-control"/>
          </div>
        </div>
        <div class="p-field p-grid">
          <div class="p-col">
            <p-button type="submit" label="register"></p-button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="info__content">
    <span>You have your own account? </span>
    <a [routerLink]="['/login']">Log in</a>
    <span> then.</span>
  </div>
</div>
