<div class="content row">
  <div class="col-12">
    <p-table [value]="user?.Diaries">
      <ng-template pTemplate="header">
        <tr>
          <th>
            <button (click)="toggleModal(ModalType.ADDING)"
                    pButton
                    pRipple
                    type="button"
                    icon="pi pi-plus"
                    class="p-button-rounded p-button-outlined p-button-success">
            </button>
          </th>
          <th>Start date:</th>
          <th>End date:</th>
          <th>Conclusions:</th>
          <th>Bench press start:</th>
          <th>Bench press end:</th>
          <th>Squat start:</th>
          <th>Squat end:</th>
          <th>Deadlift start:</th>
          <th>Deadlift end:</th>
          <th>Progress:</th>
          <th>Days:</th>
          <th>Actions:</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-userDiary let-i="rowIndex">
        <tr>
          <td>No. {{ i + 1 }} (Id {{ userDiary.Id }})</td>
          <td>{{ userDiary?.StartDate | date: 'dd.MM.yyyy'  }}</td>
          <td>{{ userDiary?.EndDate | date: 'dd.MM.yyyy'  }}</td>
          <td class="info__icon">
            <button pTooltip="{{ userDiary?.Conclusions }}"
                    tooltipPosition="top"
                    pButton
                    pRipple
                    type="button"
                    icon="pi pi-info"
                    class="p-button-rounded p-button-outlined p-button-info">

            </button>
          </td>
          <td>{{ userDiary?.BenchPressStart }} kg</td>
          <td>{{ userDiary?.BenchPressEnd }} kg</td>
          <td>{{ userDiary?.SquatStart }} kg</td>
          <td>{{ userDiary?.SquatEnd }} kg</td>
          <td>{{ userDiary?.DeadliftStart }} kg</td>
          <td>{{ userDiary?.DeadliftEnd }} kg</td>
          <td>{{ userDiary?.Progress }}</td>
          <td class="days-info__icon">
            {{ (userDiary?.Days ? userDiary?.Days?.length : '0') }}
            <button (click)="toggleModal(ModalType.DAYS, userDiary)"
                    pButton
                    pRipple
                    type="button"
                    icon="pi pi-info"
                    class="p-button-rounded p-button-outlined p-button-info">
            </button>
          </td>
          <td class="action__icon">
            <button (click)="toggleModal(ModalType.EDITING, userDiary)"
                    pButton
                    pRipple
                    type="button"
                    icon="pi pi-pencil"
                    class="p-button-rounded p-button-outlined p-button-warning">
            </button>
            <button (click)="toggleModal(ModalType.REMOVING, userDiary)"
                    pButton
                    pRipple
                    type="button"
                    icon="pi pi-trash"
                    class="p-button-rounded p-button-outlined p-button-danger">
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>

    <app-context-dialog [displayModal]="modalToDisplay"
                        [diary]="diary"
                        [modalType]="operationType"
                        (modalClosed)="modalToDisplay = $event">
    </app-context-dialog>
  </div>
</div>
