.content {
  padding: 1.5rem;
  margin: unset;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  cursor: pointer;
}

i {
  cursor: pointer;
  font-size: large;
}

.tooltip .tooltiptext {

  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

th{
  padding-right: 2rem;
}

th.header{
  font-weight: bold;
  font-size: 15pt;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;

}

th.name-surname-header
{
  font-weight: 700;
  font-size: 30pt;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

i.fa-plus-square
{
  padding-left: 3rem;
  font-size: 25pt;
}

i.fa-info-circle
{
  font-size: 15pt;
}

i.fa-edit{
  padding-left: 1rem;
  font-size: 20pt;
}
i.fa-trash{
  font-size: 20pt;
}

th.user-details-header{
  font-weight: 700;
  font-size: 24pt;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

::ng-deep .content p-table .p-datatable {
  padding-bottom: 1.5rem;
}

.info__icon {
  text-align: center !important;
}

.info__icon button {
  height: 1.5rem !important;
  width: 1.5rem !important;
}

::ng-deep .info__icon button .p-button-icon {
  font-size: .8rem !important;
}

.days-info__icon button {
  height: 1.2rem !important;
  width: 1.2rem !important;
}

::ng-deep .days-info__icon button .p-button-icon {
  font-size: .6rem !important;
}


