<div class="content">
  <table style="width:max-content">
    <h1>
      <tr>
        <th class="name-surname-header">ID:</th>
        <th class="name-surname-header">Name:</th>
        <th class="name-surname-header">Surname:</th>
        <th class="name-surname-header">City:</th>
      </tr>

      <tr>
        <th>{{user?.Id}} </th>
        <th>{{user?.Name}}</th>
        <th>{{user?.Surname}}</th>
        <th>{{user?.City}}</th>
        <i class="fa fa-plus-square"
            (click)="toggleModal(ModalType.ADDING, diary)">Add diary</i>
      </tr>
    </h1>
    <h2>
      <tr>
        <th class="user-details-header">Height</th>
        <th class="user-details-header">Weight</th>
        <th class="user-details-header">Age</th>
        <th class="user-details-header">BMR</th>
        <th class="user-details-header">BMI</th>
      </tr>
      <tr>
        <th>{{user?.UserDetails.Height}}</th>
        <th>{{user?.UserDetails.Weight}}</th>
        <th>{{user?.UserDetails.Age}}</th>
        <th>{{user?.UserDetails.BMR}}</th>
        <th>{{user?.UserDetails.BMI}}</th>
      </tr>
    </h2>
  </table>
  <table style="width:max-content">
    <tr>
      <th class="header">Diary ID:</th>
      <th class="header">Start date:</th>
      <th class="header">End date:</th>
      <th class="header">Conclusions:</th>
      <th class="header">Bench press start:</th>
      <th class="header">Bench press end:</th>
      <th class="header">Squat start:</th>
      <th class="header">Squat end:</th>
      <th class="header">Deadlift start:</th>
      <th class="header">Deadlift end:</th>
      <th class="header">Progress:</th>
      <th class="header">Days:</th>
    </tr>

    <tr *ngFor="let diary of user?.Diaries">
      <th>{{diary.Id}}</th>
      <th>{{diary.StartDate | date: 'dd.MM.yyyy' }}</th>
      <th>{{diary.EndDate  | date: 'dd.MM.yyyy' }}</th>
      <th class="tooltip">Conclusion
        <span class="tooltiptext">{{diary.Conclusions}}</span>
      </th>

      <th>{{diary.BenchPressStart}}kg</th>
      <th>{{diary.BenchPressEnd}}kg</th>
      <th>{{diary.SquatStart}}kg</th>
      <th>{{diary.SquatEnd}}kg</th>
      <th>{{diary.DeadliftStart}}kg</th>
      <th>{{diary.DeadliftEnd}}kg</th>
      <th>{{diary.Progress}}</th>
      <th>{{diary.Days.length  }}
        <i class="fa fa-info-circle"
           (click)="toggleModal(ModalType.DAYS, diary)"></i>
      </th>
      <th>
        <i class="fa fa-edit"
        (click)="toggleModal(ModalType.EDITING, diary)"></i>
      </th>
      <th>
        <i class="fa fa-trash"
        (click)="toggleModal(ModalType.REMOVING, diary)"></i>
      </th>
    </tr>

  </table>

  <app-context-dialog [displayModal]="modalToDisplay"
                      [diary]="diary"
                      [modalType]="operationType"
                      (modalClosed)="modalToDisplay = $event">
  </app-context-dialog>
</div>
