div.message404{
   text-align: center;
}

div.notFound{
    font-size: 30pt;
    font-weight: bolder;
    text-align: center;
}
div.number404{
    font-size: 50pt;
    font-weight: bolder;
    text-align: center;
}