<!DOCTYPE html>
<html>
    <head>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>

    </style>
    </head>

    <body>
        <a href="/home">
            <img src="assets/magnifyingGlass.jpg"> 
       </a>
        <div class="number404">404</div>
        <div class="notFound">Not found</div>
        <div class="message404">The resource you requested could not be found on this server!<br>
            Click the magnyfying glass above to return to main page.
        </div>
    </body>
    
</html>
