div.message404{
   text-align: center;
}

div.notFound{
    font-size: 30pt;
    font-weight: bolder;
    text-align: center;
}
div.number404{
    font-size: 50pt;
    font-weight: bolder;
    text-align: center;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 30px;
}

body {
background-color:#ffffff;
background-repeat:no-repeat;
background-position:top left;
background-attachment:fixed;
}

h1 {
text-align:center;
color:#000000;
}

h2 {
text-align:center;
color:#000000;
}

p {
text-align:center;
font-size:13px;
font-style:normal;
font-weight:normal;color:#000000;

}