.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  position: relative;
}

a {
  position: absolute;
  left: 2rem;
  top: 1.5rem;
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  font-family: "Microsoft YaHei UI Light";
  border-bottom: 1px solid transparent;
  transition: all .3s ease-in-out;
}

a:hover {
  border-bottom: 1px solid black;
}

.container__content {
  margin: auto;
  width: 30%;
  height: 50%;
  border: 2px solid royalblue;
  border-radius: 5px;
}

