<body>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <div class="carousel-login">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-pause="false" data-interval="4000">
      <div class="carousel-inner">
       <div class="carousel-item active">
         <img class="d-block w-100%" src="assets/carousel (1).jpeg" alt="First slide">
       </div>
     <div class="carousel-item">
       <img class="d-block w-100%" src="assets/carousel (2).jpeg" alt="Second slide">
     </div>
      <div class="carousel-item">
        <img class="d-block w-100%" src="assets/carousel (3).jpeg" alt="Third slide">
      </div>
    </div>
  </div>
</div>

<div class="container py-1 px-1">
  <div class="row form__wrapper">
    <div class="col col-xl col-sm panel"></div>
    <form class="col-10 col-xl-7 col-sm-8" [formGroup]="loginForm" (submit)="login(loginForm.value)">
      <div class="row">
        <span class="m-auto title-4 font-weight-bold">LOGIN</span>
      </div>
      <div class="input__float-label row">
        <input id="userName"
               type="text"
               formControlName="userName"
               pInputText>
        <label for="userName">Username</label>
      </div>
      <div class="input__float-label row">
        <input id="password"
               type="password"
               formControlName="password"
               pInputText>
        <label for="password">Password</label>
      </div>
      <div class="input__float-label row">
        <p-button class="login-button" [disabled]="!loginForm.valid" type="submit" label="login"></p-button>
      </div>
      <div style="text-align: center;">
        <span>Don't have account? </span>
        <a [routerLink]="['/sign-up']">Create</a>
        <span> a new one</span>
      </div>
    </form>
    <div class="col col-xl col-sm panel"></div>
  </div>
</div>
