header {
  padding: 1.5rem 1rem;
  display: flex;
  background: lightgray;
  height: 100vh;
  flex-direction: row;
}

.nav {
  flex-grow: 1;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 1.5rem;
  text-transform: uppercase;
  font-family: "Microsoft YaHei UI Light";
  width: 100%;
  flex-direction: column;

  li {
    white-space: nowrap;
    padding-left: 0.25rem;
  }
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  font-size: 1rem;

  div i {
    margin-right: 5px;
    font-size: 1.5rem;
  }
}

a div {
  border-bottom: 1px solid var(--primary-font);
  transition: all .3s ease-in-out;
}

a:hover div {
  border-bottom: 1px solid black;
}

.expanded li {
  transition: all .3s ease-in-out;
  max-width: 200px;
  overflow: hidden;

}

.collapsed li {
  transition: all .3s ease-in-out;
  max-width: 2rem;
  overflow: hidden;
}

.fa-bars {
  font-size: 2rem;
}

a div i, a div span {
  color: var(--primary-font);
}

a div span {
  padding-left: 45px;
}
