<header>
  <nav class="nav {{ menuToggled ? 'expanded' : 'collapsed' }}">
    <ul class="nav__list">
      <li class="mb-4 burger {{ menuToggled ? 'clicked' : 'not-clicked' }}">
          <div class="burger_lines" (click)="toggleMenu()">
            <div class="burger_line"></div>
          </div>
      </li>
      <li *ngFor="let link of getHeaderOptions() | async">
        <a [routerLink]="link.url">
          <div class="icon">
            <i class="fa {{link.iconName}}"></i>
          </div>
          <div class="label">
            <span>{{ link.title }}</span>
          </div>
        </a>
      </li>
      <li *ngIf="loggedIn">
        <a (click)="logOut()">
          <div class="icon">
            <i class="fa fa-power-off"></i>
          </div>
          <div class="label">
            <span>logout</span>
          </div>
        </a>
      </li>
    </ul>
  </nav>
</header>
