header {
  padding: 1.5rem 2rem;
  display: flex;
  background: lightgray;
  max-height: 69px;
}

.nav {
  flex-grow: 1;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 1.5rem;
  text-transform: uppercase;
  font-family: "Microsoft YaHei UI Light";
}


.nav__list li:nth-of-type(4) {
  margin-left: auto;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all .3s ease-in-out;
  font-size: 1rem;
  border-bottom: 1px solid lightgray;
}

a:hover {
  border-bottom: 1px solid black;
}
